= simple_form_for @list do |form|
  .row
    .span4
      %fieldset
        = form.input :name, label: 'Name', input_html: {class: "span4"}
      %fieldset
        = form.input :description, label: 'Description', input_html: {class: "span4", rows: 4}
    .span8
      =link_to_function '<i class="icon-plus-sign"></i> Add Item'.html_safe, "Cahoot.ListManager.addItemToList()", class: 'btn pull-right'

      = form.label :list_items_tokens, 'items'
      = form.hidden_field :list_items_tokens, id: 'items-select-for-list', class: 'search_items', placeholder: 'Select Your Items'


  .row
    .span12
      = form.button :submit, class: 'btn btn-primary'