.container
	.row
		.span12
			%h1= "Editing List #{@list.name}"

	.row
		.span12
			= simple_form_for @list do |f|
				%fieldset
					= f.input :name, label: "Name", input_html: {class: "span5"}
				%fieldset
					= f.input :description, label: "Description", input_html: {class: "span5", rows: 2}
				= f.button :submit


			= link_to 'Show', @list
			\|
			= link_to 'Back', lists_path
