%h1 New List

.container
	.row
		.span12
			= simple_form_for @list do |f|
				= f.input :name, input_html: {class: "span5"}
				= f.input :description, input_html: {class: "span5", rows: 2}
				= f.button :submit


			= link_to 'Show', @list
			\|
			= link_to 'Back', lists_path
