%p#notice= notice

%p
  %b Name:
  = @list.name
%p
  %b Description:
  = @list.description
%p
  %b User:
  = @list.user_id
%p
  %b Owner:
  = @list.owner_id

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
