= link_to "Home", root_path, :class => 'brand'
%ul.nav.nav-pills
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'get'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Account', edit_user_registration_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path

  %li= link_to "New List", new_list_path
  %li= link_to "New Item", new_list_item_path

.span2.pull-right
  %h3 Cahoot