
.container
	- if user_signed_in?
		.row
			.span8
				%h1 Your Dashboard
		.row
			.span6
				.well
					%h3 
						Items Assigned to You
					
			.span6
				.well
					%h3 Your Lists
					- if current_user.lists.count > 0
						%table.table
							- current_user.lists.each do |list|
								%tr
									%td= link_to list.name, list
									%td= "#{list.items.count} items (#{list.unassigned_items_count} unassigned, #{list.completed_items_count} completed)" 
					- else
						%p 
							You don't have any lists yet :( Why don't you
							=link_to "create one now", new_list_path
							?
