.container
  .row
    .span8
      %h1 Your Dashboard
  .row
    .span6
      .well
        %h3 
          Items Assigned to You
        - if current_user.items
          %table.table.table-hover
            %tr 
              %th Item
              %th List
              %th Status
            - current_user.list_items.each do |list_item|
              %tr
                %td= link_to list_item.name, item_path(list_item)
                %td= list_item.list.name
                %td= list_item.status
        - else
          %p 
            You don't have any items assigned to you.
        
    .span6
      .well
        .span2
          %h3 Your Lists
        .span3
          = link_to 'New List', new_list_path, class: 'btn pull-right'
        - if @user_lists
          %table.table.table-hover
            - @user_lists.each do |list|
              %tr
                %td= link_to list.name, list_path(list)
        - else
          %p 
            You don't have any lists yet :( Why don't you
            =link_to "create one now", new_list_path

  - content_for :javascripts do 
    :javascript
      $(function() {
        alert('test');
              
        $('#items-select-for-list').select2({
          placeholder: "Search for items",
          minimumInputLength: 1,
          multiple: true,
          width: "80%",
          ajax: {
            url: "/items.json",
            dataType: 'json',
            data: function(term, page) {
              return {
                q: term
              };
            },
            results: function(data, page) {
              var results;
              results = {
                results: []
              };
              $.each(data, function(index, data_element) {
                return results.results.push(data_element);
              });
              return results;
            }
          },
          initSelection: function(element, callback) {
            return $(element).select2('data', '');
          },
          formatResult: function(item) {
            return item.name;
          },
          createSearchChoice: function(term) {
            return {
              name: term
            };
          },
          formatSelection: function(item) {
            return item.name;
          }
        });
      });