= form_for @list_item do |f|
  - if @list_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list_item.errors.count, "error")} prohibited this list_item from being saved:"
      %ul
        - @list_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .actions
    = f.submit 'Save'
