%h1 New List Item

.container
	.row
		.span12
			= simple_form_for @list_item do |f|
				= f.input :name
				= f.input :description
				=	f.association :owner, collection: User.all(order: 'first').each.map(&:first), prompt: "Assign Item To"
				= f.button :submit


			= link_to 'Show', @list_item
			\|
			= link_to 'Back', list_items_path
