/ %p#notice= notice

%p
  %b Name:
  = @list_item.name
%p
  %b Description:
  = @list_item.description || "None"
%p
  %b Created By:
  = @list_item.user.full_name
%p
  %b Assigned To:
  = @list_item.owner_id

= link_to 'Edit', edit_list_list_item_path([@list, @list_item])
\|
= link_to 'Back', root_path
